html,
body,
#root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    text-align: center;
}

.commentBox {
    font-family: -webkit-pictograph;
    font-size: 16px;
}

h3 {
    border-bottom-width: 1px;
    border-bottom-style: ridge;
    padding: 5px;
}

.commentBox .commentList {
    padding-left: 15px;
}

.commentList p {
    line-height: 5px;
}

.commentList span {
    font-weight: bold;
    font-size: 14px;
    font-style: italic;
}

.commentBox .comment {
    line-height: 5px;
}

.commentBox .commentForm {
    background-color: #F3F3F3;
    padding: 20px 33% 20px 33%;
    margin-top: 20px;
}

.commentSearch {
    padding: 30px 30% 30px 30%;
    width: 40%;
    background-color: #F3F3F3;
}

.commentSearch input {
    width: 33%;
}