html,
body,
#root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    text-align: center;
}

.commentBox {
    font-family: -webkit-pictograph;
    font-size: 16px;
}

h3 {
    border-bottom-width: 1px;
    border-bottom-style: ridge;
    padding: 5px;
}

.commentBox .commentList {
    padding-left: 15px;
}

.commentBox .commentFilter span{
    background: #E8E9EA;
    padding: 5px;
    margin-left: 10px;
}

.commentBox .commentList p {
    line-height: 5px;
}

.commentBox .commentList span {
    font-weight: bold;
    font-size: 14px;
    font-style: italic;
}

.commentBox .comment {
    border-bottom-style: inset;
    border-bottom-color: #95A7C1;
    border-bottom-width: 1px;
    padding: 5px;
    margin-top: 5px;   
}

.del {
    text-decoration: line-through;
    font-style: italic;
    color: #BDB9B9;
}

.commentBox .commentForm {
    background-color: #F3F3F3;
    padding: 20px 33% 20px 33%;
    margin-top: 20px;
}

.commentBox .commentSearch {
    padding: 30px 30% 30px 30%;
    width: 40%;
    background-color: #F3F3F3;
}

 .commentBox .commentSearch input {
    width: 33%;
}